#headder {
    background-image: url('../img/bonnefemme.png');
    width: 100%;
    height: 100vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

#headder h1 {
    color: white;
    text-align: center;
}

#ecole_pagaie {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-align: center;
}

#ecole_pagaie {
    padding: 3em;
}

#ecole_pagaie p {
    max-width: 600px;
    color: #333;
    line-height: 2.5em;
    font-size: 1rem;
    text-align: justify;
    text-align-last: center;
}

#ecole_pagaie h2 {
    text-decoration: underline solid orange;
    text-underline-offset: 0.25em;
    padding-bottom: 2em;
    font-size: 2rem;
}

#ecole_pagaie section {
    padding: 3em;
}

#rangs {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 3em;
}

#rangs img {
    height: 30em;
}

#texte {
    max-width: 600px;
    margin: auto, auto, auto, auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0px;
}

#color {
    text-decoration-line: underline;
    text-decoration-color: rgb(241, 164, 21);
    text-decoration-style: 6px;
}

@media screen and (max-width: 1390px) {
    #ecole_pagaie {
        padding: 2em;
    }
    #rangs img {
        height: 20em;
    }
}