.heade {
    background-image: url('../img/kayak.png');
    width: 100%;
    height: 100vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.heade h1 {
    color: white;
    text-align: center;
}

.heade nav ul.nav-links li .link-item,
.heade .connexion,
.heade .brand {
    color: #333;
}

.heade .navbar.active {
    background-color: rgb(221, 221, 221);
}

.heade .bm-menu-wrap.burger {
    top: 0;
    left: 0;
}

.heade .bm-overlay {
    top: 0;
    left: 0;
}

#toto {
    padding: 3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#toto h2 {
    text-align: center;
}

#toto p {
    max-width: 600px;
    color: #333;
    line-height: 2.5em;
    font-size: 1rem;
    text-align: justify;
    text-align-last: center;
}

#toto h2 {
    text-decoration: underline solid orange;
    text-underline-offset: 0.25em;
    padding-bottom: 2em;
    font-size: 2rem;
}

#toto img {
    height: 20em;
}

#toto section {
    padding: 3em;
}

@media screen and (max-width: 900px) {
    #toto img {
        height: 10em;
    }

    #toto p {
        max-width: 300px;
    }

    .heade nav ul.nav-links li .link-item,
    .heade .connexion,
    .heade .brand {
        color: #fff;
    }

    #toto section {
        padding: 3em 0;
    }
}