.services {
    background-color: #FFFDFA;
}

.services_header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background-image: url("../img/home_bg.png");
    background-size: cover;
    background-position: center;
    color: #fff;
}

.services h1 {
    font-size: 3rem;
    text-align: center;
}

.services h2 {
    color: #161413;
    font-size: 2em;
    margin: 2em;
    margin-bottom: 3em;
    text-align: center;
    text-decoration: underline solid orange;
    text-underline-offset: 0.25em;
}

.services hr {
    margin: auto;
    margin-top: 3em;
    text-align: center;
    width: 70%;
}

.services section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.services_txt {
    color: #333;
    max-width: 600px;
    line-height: 2.5em;
    font-size: 1rem;
    text-align: justify;
    text-align-last: center;
    padding: 2em;
}

.services .infos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    letter-spacing: 2px;
}

.services .infos button {
    border: 0;
    border-radius: 50px;
    padding: 0.5em 1em;
    margin: 1em 0;
    font-weight: 600;
    font-size: 1.5em;
    color: #444;
    background-color: #fff;
    transition: opacity .5s ease-in-out;
}

.services .infos button:hover {
    background-color: rgb(100, 192, 92);
    color: #fff;
}

.services li h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    width: 100%;
    font-weight: 700;
    font-size: 1.9em;
    background-color: rgba(0, 0, 0, 0.24);
}

.services .liste_container {
    width: 70%;
}

.services .liste_locations {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    list-style-type: none;
    gap: 2.5em;
}

.services .liste_locations>* {
    height: fit-content;
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.services .liste_locations img {
    border-radius: 10px 10px 0 0;
    width: 100%;
    aspect-ratio: 1/1;
}

.services .liste_locations li {
    background-image: linear-gradient(45deg,
            hsl(206deg 82% 34%) 0%,
            hsl(206deg 79% 38%) 7%,
            hsl(206deg 77% 43%) 15%,
            hsl(207deg 74% 47%) 22%,
            hsl(206deg 73% 50%) 29%,
            hsl(204deg 77% 51%) 36%,
            hsl(203deg 81% 51%) 43%,
            hsl(201deg 85% 52%) 50%,
            hsl(199deg 79% 54%) 57%,
            hsl(197deg 72% 57%) 64%,
            hsl(194deg 65% 59%) 71%,
            hsl(194deg 64% 61%) 78%,
            hsl(196deg 70% 64%) 85%,
            hsl(197deg 77% 67%) 93%,
            hsl(199deg 85% 71%) 100%);
    display: flex;
    justify-content: center;
    border-radius: 10px;
    max-width: 20em;
    flex: 1 1 30%;
    flex-basis: 100%;
    box-shadow: #666 3px 4px 5px 0px;
}

#services_prestations {
    padding-bottom: 10vh;
}

#liste_container {
    width: 70%;
}

#liste_locations {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    list-style-type: none;
    gap: 5em;
}

#liste_locations li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(45deg,
            hsl(45deg 100% 50%) 0%,
            hsl(42deg 100% 50%) 10%,
            hsl(39deg 100% 50%) 20%,
            hsl(36deg 100% 50%) 30%,
            hsl(33deg 100% 50%) 40%,
            hsl(30deg 100% 50%) 50%,
            hsl(27deg 100% 50%) 60%,
            hsl(25deg 100% 50%) 70%,
            hsl(22deg 100% 50%) 100%);
    border-radius: 10px;
    flex: 1 1 30%;
    box-shadow: #666 3px 4px 5px 0px;
}

#titre_pack {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    width: 100%;
    font-weight: 700;
    font-size: 1.9em;
    background-color: rgba(0, 0, 0, 0.24);
}

#liste_locations img {
    border-radius: 10px 10px 0 0;
    width: 100%;
}